
<div class="title">
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
    <p>{{web}}</p>
</div>

<article class="about">
    <h2>Sobre mi</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam in enim sed ligula malesuada varius vel vel nunc. Integer porttitor eleifend nisl a rhoncus. Cras diam metus, gravida eu maximus ac, vulputate at velit. Cras congue laoreet arcu, quis semper nisl lobortis vel. Etiam ultricies efficitur odio vel varius. Praesent felis nibh, iaculis id ligula in, blandit aliquam lacus. Etiam tincidunt purus quis odio vulputate suscipit.
    </p>
</article>